{%load static%}
<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home2.css'%}">
</head>
<style>
  

</style>

<body>

 

    <aside class="product-card">
        <header>
          <a target="_blank" href="#"><img src=""></a>
          <h1>prodyctt</h1>
          <h2>Enjoy life</h2>
        </header>
        <div class="product-bio">
          <p>{{product.discription}}</p>
          <button>Wishlist</button>
          <button class="cart"><a href="">Add to cart</a></button>
        </div>
      </aside>
</body>
</html>
